* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #fff(58, 58, 58);
  color: black;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calender {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#month {
  background: #e95853;
  color: #fff;
}
